.section {
    display:grid;
    grid-template-columns: repeat(2,auto);
    align-items: start;
    position: relative;

}

.section--with-bg{
padding: 11rem 0;
}

.section--with-bg::before{
content: "" ;
position: absolute ;
height: 100%;
width: 100vw;
background-color: var(--color-grey);
justify-self: center;
z-index: -1;
}

.header{
    padding: 3rem 0;
    position: sticky;
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 1;
    background-color: var(--color-background);
}

.header::before{
    content: "";
    position: absolute;
    background-color: var(--color-background);
    height: 100%;
    width: 100vw;
    border-bottom:0.1rem solid var(--color-input-border) ;
    top: 0.1rem;
    z-index: -1;

}

.navigation__list{
    display: flex;
    gap: 2rem;
    
}

.navigation{
    transition: var(--transition-timing);
}

.navigation__link:link,
.navigation__link:visited{
    text-decoration: none;
    font-weight: var(--font-weight-medium);
}

.navigation__link:hover,
.navigation__link:active{
    text-decoration:underline;
color: var(--color-text);
}

.container:has(.bio:target) .navigation__bio,
.container:has(.skills:target) .navigation__skills,
.container:has(.media:target) .navigation__media,
.container:has(.projects:target) .navigation__projects,
.container:has(.clients:target) .navigation__clients,
.container:has(.contact:target) .navigation__contact
{
    color: var(--color-blue);
    text-decoration: underline;
    font-weight: var(--font-weight-bold);
}

.burger-menu__checkbox{
    display: none;
}

/* toggle */ 

.toggle {
    display: flex;
    gap: 1rem;
margin-left: auto;
}

.toggle__title{
font-weight: var(--font-weight-medium);
font-size: var(--font-size-18);
}

.toggle__checkbox{
    display: none;
}

.toggle__label{
    display: block;
    position: relative;
    background-color: var(--color-black);
    border-radius: 1.5rem;
    width: 4.5rem;
    height: 2.2rem;
    cursor: pointer;
    padding: 0.3rem 0.4rem;
    transition: 0.3s;
}

.toggle__label::after {
content:"";
width: 1.6rem;
height: 1.6rem;
border-radius: 50%;
display: block;
background-color: var(--color-white);
transition: 0.3s;
}

.toggle__checkbox:checked + .toggle__label{
background-color: var(--color-white);
}

.toggle__checkbox:checked + .toggle__label::after {
  transform: translatex(2.1rem);  
  background-color: green;

}
/*end toggle */