/* projects component */
.projects__main{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   column-gap: 7.4rem;
   row-gap: 7.5rem;
}

.projects__img{
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.2);
max-width: 100%;
}

.Quran-Tab{
grid-column: 1/-1 ;
grid-row: 2;
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 8rem;
}

.projects__data{
align-self: center;

}

.projects-heading{
    font-size: var(--font-size-38);
    font-weight: var(--font-weight-bold);
    margin-bottom: 3rem;
}

.projects__description {
    font-size: var(--font-size-22);
    line-height: 1.5;
}

.Quran-Station{
    grid-row: 3;
    display: grid;
 grid-template-columns: repeat(2,1fr);
    grid-column: 1/-1;
    gap:8rem;
}

.projects__link{
    color: var(--color-dark-blue);
    margin-top: 2.3rem;
font-family: var(--font-family-poppins);
font-weight: var(--font-weight-medium);
}

.projects__link::after{
    content:"" ;
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    background-image: url(/images/external-icon.png);
    background-size: contain;
    margin-left: 0.6rem;
}

/*end projects component */
